{% extends "base.html" %}

{% block title %}Server Error{% endblock title %}

{% block content %}
<div class="mt-10 flex flex-col items-center justify-center">
  <h1 class="my-4 text-4xl font-bold underline">Ooops!!! 500</h1>
  <h3 class="text-2xl">Looks like something went wrong!</h3>
  <p class="mt-2 max-w-[632px] break-words text-center text-lg">
    We track these errors automatically, but if the problem persists feel free to
    contact us. In the meantime, try refreshing.
  </p>
</div>
{% endblock content %}
