{% load static %}
{% load render_bundle from webpack_loader %}

<!doctype html>
<html class="dark opacity-0 duration-200" lang="en">
  <head>
    <meta charset="UTF-8" />

    {% render_bundle "vendors" "css" %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block overwrite_title %}
    <title>{% block title %}{% endblock title %} • Sbily</title>
    {% endblock overwrite_title %}
    <meta name="description" content="A simple, fast, and secure Open-Source link shortener." />
    <meta name="keywords" content="link shortener, open-source, fast, secure, URL shortening, Sbily" />
    <meta name="robots" content="index, follow" />

    <link href="{% static 'images/favicons/logo.jpg' %}" rel="icon" />

    {% render_bundle "main" "css" %}
    {% render_bundle "vendors" "js" attrs="defer" %}
    {% render_bundle "main" "js" attrs="defer" %}

    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block body %}
    <header class="bg-secondary/60 sticky inset-x-0 top-0 z-9999 h-16 border-b backdrop-blur-md">
      <nav class="container flex size-full items-center justify-between gap-4 px-4 md:px-12">
        <a class="link group gap-2 text-lg font-bold" href="{% url 'home' %}">
          <img
            class="size-10 rounded-full duration-200 group-hover:brightness-200"
            alt="Sbily logo"
            height="40px"
            src="{% static 'images/favicons/logo.jpg' %}"
            width="40px"
          />
          <div>
            <span class="text-primary">Sb</span>ily
          </div>
        </a>
        <div class="relative flex items-center gap-2">
          {% if request.user.is_authenticated %}
          <a
            class="link border-foreground/20 relative border p-2 hover:border-foreground/40"
            href="{% url 'my_notifications' %}"
            title="See your notifications"
          >
            {% if user.get_unread_notifications_count > 0 %}
            <span
              class="
                border-secondary bg-primary text-background absolute -top-1 -right-1 flex size-5 items-center
                justify-center rounded-full border-2 text-xs dark:text-foreground
              "
            >
              {{ user.get_unread_notifications_count }}
            </span>
            {% endif %}
            <div class="size-5">
              <i data-lucide="bell" class="size-5"></i>
              <span class="sr-only">See your notifications</span>
            </div>
          </a>
          <button
            type="button"
            data-jswc-dropdown
            data-jswc-target="dropdown-menu-account-content"
            class="button-ghost-outline p-2"
            aria-label="Open My Account menu."
            title="Open My Account menu."
          >
            <i data-lucide="circle-user" class="size-5"></i>
          </button>
          <div
            id="dropdown-menu-account-content"
            data-jswc-dropdown-animation="true"
            class="dropdown-menu top-12 right-0 hidden"
          >
            <a class="dropdown-menu-item justify-between gap-3 px-2 text-start" href="{% url 'dashboard' %}">
              <div class="size-5">
                <i data-lucide="layout-dashboard" class="size-5"></i>
              </div>
              <span class="w-full">Dashboard</span>
            </a>
            <a class="dropdown-menu-item justify-between gap-3 px-2 text-start" href="{% url 'my_account' %}">
              <div class="size-5">
                <i data-lucide="circle-user" class="size-5"></i>
              </div>
              <span class="w-full">My Account</span>
            </a>
            <a class="dropdown-menu-item justify-between gap-3 px-2 text-start" href="{% url 'my_account' %}?tab=plan">
              <div class="size-5">
                <i data-lucide="credit-card" class="size-5"></i>
              </div>
              <span class="w-full">Manage plan</span>
            </a>
            <div class="separator my-1"></div>
            <a class="dropdown-menu-item justify-between gap-3 px-2 text-start text-red-600" href="{% url 'sign_out' %}">
              <div class="size-5">
                <i data-lucide="log-out" class="size-5"></i>
              </div>
              <span class="w-full">Sign Out</span>
            </a>
          </div>
          {% else %}
          <a class="link p-2 hover:text-primary" href="{% url 'plans' %}">Pricing</a>
          <a class="link p-2 hover:text-primary" href="{% url 'sign_in' %}">Sign In</a>
          {% endif %}
          <button
            type="button"
            data-jswc-theme-toggle
            class="
              link border-foreground/20 relative items-center justify-center border p-2 hover:border-foreground/40
            "
            title="Theme toggle"
          >
            <div class="size-5">
              <span class="sr-only">Theme toggle</span>
            </div>
          </button>
        </div>
      </nav>
    </header>
    <div class="min-h-screen">
      {% block content %}{% endblock content %}
    </div>
    <footer class="bg-secondary/60 border-t py-12">
      <div class="container">
        <div class="mb-12 grid grid-cols-1 gap-8 md:grid-cols-1">
          <div>
            <a class="mb-4 flex w-fit items-center gap-2" href="{% url "home" %}">
              <img class="size-6 rounded-full" alt="Sbily Logo" src="{% static "images/favicons/logo.jpg" %}" />
              <h3 class="text-xl font-bold">
                <span class="text-primary">
                  Sb<span class="text-foreground selection:bg-background/80 selection:text-primary">ily</span>
                </span>
              </h3>
            </a>
            <p class="text-muted-foreground">A simple, fast, and secure Open-Source link shortener.</p>
          </div>
          {% comment %}
          <div>
            <h4 class="mb-4 font-bold">Product</h4>
            <ul class="space-y-2">
              <li>
                <a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Features</a>
              </li>
              <li>
                <a class="text-muted-foreground duration-200 hover:text-foreground" href="{% url "plans" %}">Plans</a>
              </li>
              <li>
                <a class="text-muted-foreground duration-200 hover:text-foreground" href="#">FAQ</a>
              </li>
              <li>
                <a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Roadmap</a>
              </li>
            </ul>
          </div>
          <div>
            <h4 class="mb-4 font-bold">Community</h4>
            <ul class="space-y-2">
              <li>
                <a
                  class="text-muted-foreground duration-200 hover:text-foreground"
                  href="https://github.com/ncontiero/sbily"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  GitHub
                </a>
              </li>
              <li><a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Discord</a></li>
              <li><a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Twitter</a></li>
              <li><a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Blog</a></li>
            </ul>
          </div>
          <div>
            <h4 class="mb-4 font-bold">Legal</h4>
            <ul class="space-y-2">
              <li><a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Terms of Service</a></li>
              <li><a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Privacy Policy</a></li>
              <li><a class="text-muted-foreground duration-200 hover:text-foreground" href="#">Cookies</a></li>
            </ul>
          </div>
          {% endcomment %}
        </div>
        <div class="separator"></div>
        <div class="mt-8 flex flex-col items-center justify-between md:flex-row">
          <p class="text-muted-foreground text-sm">&copy; 2025 Sbily. All rights reserved.</p>
          <div class="mt-4 flex gap-4 md:mt-0">
            <a
              class="text-muted-foreground duration-200 hover:text-foreground"
              href="https://github.com/ncontiero/sbily"
              rel="noopener noreferrer"
              target="_blank"
            >
              <i data-lucide="github" class="size-5"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    {% endblock body %}
    <div aria-label="Notifications" role="region" tabindex="-1">
      <ol id="toast-ol" class="toast-list" tabindex="-1"></ol>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        {% if messages %}
          {% for message in messages %}
        toast("{{ message }}", "{{ message.tags }}", 3000, 600);
          {% endfor %}
        {% endif %}

        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        formdata = new FormData();
        const csrfToken = '{% csrf_token %}'.split("value=")[1].replaceAll('"', "").replace(">", "");
        formdata.append("csrfmiddlewaretoken", csrfToken);
        formdata.append("timezone", timezone);

        fetch(
          "{% url 'set_user_timezone' %}",
          { method: "POST", body: formdata },
        ).catch(e => console.error(e));
      });
    </script>
    {% block js %}{% endblock js %}
  </body>
</html>
