{% extends "dashboard/base.html" %}

{% block title %}Statistics for {{ link.shortened_link }}{% endblock title %}
{% block dashboard_title %}Statistics for {{ link.shortened_link }}{% endblock dashboard_title %}
{% block dashboard_description %}
  Hello {{ user.get_short_name }}, see the performance of your link.
{% endblock dashboard_description %}

{% block dashboard_content %}
<div id="links-stats"></div>
<section class="py-8">
  <div class="container mx-auto px-4 grid md:grid-cols-2 gap-6">
    <div class="bg-background p-6 rounded-lg border border-border">
      <div class="mb-4">
        <p class="text-muted-foreground">Original URL:</p>
        <p class="truncate">{{ link.original_link }}</p>
      </div>
      <div class="mb-4">
        <p class="text-muted-foreground">Short URL:</p>
        <p class="flex items-center gap-2">
          <a href="{{ link.get_absolute_url }}" target="_blank" class="text-primary hover:underline">
            {{ link.get_absolute_url }}
          </a>
          <button
            id="copy"
            onclick="copy('{{ link.get_absolute_url }}', 'copy', false)"
            class="text-muted-foreground hover:text-foreground"
          >
            <i data-lucide="copy" class="size-4"></i>
          </button>
        </p>
      </div>
      <div class="mb-4">
        <p class="text-muted-foreground">Created:</p>
        <p>{{ link.created_at|date:"F j, Y, P" }}</p>
      </div>
      {% if link.remove_at %}
      <div class="mb-4">
        <p class="text-muted-foreground">Expires in:</p>
        <p>{{ link.time_until_expiration_formatted }}</p>
      </div>
      {% endif %}
    </div>

    <div class="p-6 rounded-lg bg-background border border-border">
      <div class="grid grid-cols-2 gap-4">
        <div class="text-center p-4 bg-secondary/40 rounded-lg border">
          <p class="text-muted-foreground">Total Clicks</p>
          <p class="text-3xl font-bold">{{ total_clicks }}</p>
        </div>
        <div class="text-center p-4 bg-secondary/40 rounded-lg border">
          <p class="text-muted-foreground">Today Total Clicks</p>
          <p class="text-3xl font-bold">{{ clicks_today }}</p>
        </div>
        <div class="text-center p-4 bg-secondary/40 rounded-lg border">
          <p class="text-muted-foreground">Unique Visitors</p>
          <p class="text-3xl font-bold">{{ unique_visitors }}</p>
        </div>
        <div class="text-center p-4 bg-secondary/40 rounded-lg border">
          <p class="text-muted-foreground">Today Unique Visitors</p>
          <p class="text-3xl font-bold">{{ unique_visitors_today }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-2 gap-4">
      <div class="bg-background p-6 rounded-lg border {% if not user.is_premium %}col-span-2{% endif %}">
        <h2 class="text-xl font-bold mb-4">Daily Clicks</h2>
        <div class="h-64">
          <canvas id="dailyClicksChart"></canvas>
        </div>
      </div>
      {% if user.is_premium %}
      <div class="bg-background p-6 rounded-lg border">
        <h2 class="text-xl font-bold mb-4">Hourly Distribution</h2>
        <div class="h-64">
          <canvas id="hourlyClicksChart"></canvas>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% if user.is_premium %}
<section class="py-6">
  <div class="container mx-auto px-4">
    <div class="bg-background rounded-lg border shadow-sm p-6">
      <h3 class="text-lg font-bold mb-4 px-4">Top Countries</h3>
      <div class="h-fit lg:h-96 flex justify-center">
        <canvas id="countriesAndCitiesChart"></canvas>
      </div>
      <div class="border rounded-md mt-10 pt-6">
        <h4 class="font-bold mb-8 md:mb-4 px-4">Top Countries and Cities Visitors</h4>
        <div class="w-full overflow-auto max-h-[500px] overscroll-contain">
          <table class="w-full text-sm border-t">
            <thead>
              <tr class="border-b duration-200 bg-muted/30 hover:bg-muted/50">
                <th class="h-12 w-1/2 border-r-2 px-4 text-start align-middle font-bold">
                  Country/City
                </th>
                <th class="h-12 w-1/2 px-4 text-center sm:text-end align-middle font-bold">Visitors</th>
              </tr>
            </thead>
            <tbody>
              {% for item in countries_and_cities %}
                <tr class="border-b duration-200 hover:bg-muted/50">
                  <td class="p-4 text-start whitespace-nowrap align-middle border-r-2">
                    {{ item.country }}/{{ item.city }}
                  </td>
                  <td class="p-4 text-center sm:text-end align-middle">
                    {{ item.count }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-6">
  <div class="container mx-auto px-4">
    <div class="grid lg:grid-cols-3 gap-6">
      <div class="bg-background p-6 rounded-lg border border-border">
        <h2 class="text-xl font-bold mb-4">Device Distribution</h2>
        <div class="h-80">
          <canvas id="devicesChart"></canvas>
        </div>
      </div>

      <div class="bg-background p-6 rounded-lg border border-border">
        <h2 class="text-xl font-bold mb-4">Browser Distribution</h2>
        <div class="h-80">
          <canvas id="browsersChart"></canvas>
        </div>
      </div>

      <div class="bg-background p-6 rounded-lg border border-border">
        <h2 class="text-xl font-bold mb-4">Operating Systems</h2>
        <div class="h-80">
          <canvas id="osChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-6">
  <div class="container mx-auto px-4">
    <div class="bg-background p-6 rounded-lg border">
      <div class="border rounded-lg pt-6">
        <h2 class="font-bold mb-4 px-4">Top Referrers</h2>
        {% if referrers %}
          <div class="w-full overflow-auto max-h-[500px] overscroll-contain">
            <table class="w-full text-sm border-t">
              <thead>
                <tr class="border-b duration-200 bg-muted/30 hover:bg-muted/50">
                  <th class="h-12 px-4 text-start align-middle border-r-2 font-bold">Referrer</th>
                  <th class="h-12 px-4 text-center align-middle font-bold">Clicks</th>
                </tr>
              </thead>
              <tbody>
                {% for ref in referrers %}
                  <tr class="border-b duration-200 hover:bg-muted/50">
                    <td class="p-4 text-start align-middle border-r-2">
                      {{ ref.referrer }}
                    </td>
                    <td class="p-4 text-center align-middle">
                      {{ ref.count }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p class="pb-6 px-4 text-muted-foreground">No referrer data available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock dashboard_content %}

{% block js %}
<script>
  const dailyClicksData = {{ daily_clicks_data|safe }};
  {% if user.is_premium %}
  const hourlyClicksData = {{ hourly_clicks_data|safe }};
  const countriesAndCitiesData = {{ countries_and_cities|safe }};
  const devicesData = {{ devices|safe }};
  const browsersData = {{ browsers|safe }};
  const osData = {{ operating_systems|safe }};
  {% endif %}
</script>
{% endblock js %}
