{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="mx-auto mt-16 flex max-w-md flex-col items-center justify-center rounded-md border p-6">
  <form data-jswc-add-load class="w-full" action="{% url 'forgot_password' %}" method="post">
    {% csrf_token %}
    <div class="mt-2 mb-8 text-center">
      <h2 class="text-3xl font-bold">Reset Password</h2>
      <p class="text-foreground/60 mt-1 text-base font-medium">Enter your email to reset your password</p>
    </div>
    {{ form }}
    <button type="submit" class="button-primary mt-2 w-full">Send password reset email</button>
    {% if not user.is_authenticated %}
    <p class="mt-4 text-center text-sm">
      Or <a class="link-primary" href="{% url 'sign_in' %}">Sign In</a>
    </p>
    {% else %}
    <a class="button-outline mt-2 w-fit px-2" href="{% url 'my_account' %}?tab=security">
      <i data-lucide="chevron-left" class="stroke-[3px]"></i>
      Voltar
    </a>
    {% endif %}
  </form>
</div>
{% endblock content %}
