{% extends "base.html" %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="mx-auto mt-16 flex max-w-md flex-col items-center justify-center rounded-md border p-6">
  <form data-jswc-add-load class="w-full" action="{% url 'sign_in' %}" method="post">
    {% csrf_token %}
    <div class="mt-2 mb-8 text-center">
      <h2 class="text-3xl font-bold">Sign In</h2>
      <p class="text-foreground/60 mt-1 text-base font-medium">
        Welcome back! Please sign in to continue
      </p>
    </div>
    {{ form }}
    <div class="flex justify-between">
      <a class="text-primary text-sm hover:underline" href="{% url "sign_in_with_email" %}">
        Sign in with email
      </a>
      <a class="text-primary text-sm hover:underline" href="{% url "forgot_password" %}">
        Forgot your password?
      </a>
    </div>
    <button type="submit" class="button-primary mt-2 w-full">Sign In</button>
    <p class="mt-4 text-center text-sm">
      Don't have an account yet?
      <a class="link-primary" href="{{ sign_up_url }}">Sign Up</a>.
    </p>
  </form>
</div>
{% endblock content %}
