{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="mx-auto mt-16 flex max-w-md flex-col items-center justify-center rounded-md border p-6">
  <form data-jswc-add-load class="w-full" action="{% url 'sign_up' %}" method="post">
    {% csrf_token %}
    <div class="mb-8 mt-2 text-center">
      <h2 class="text-3xl font-bold">Create your account</h2>
      <p class="mt-1 text-base font-medium text-foreground/60">
        Welcome! Please fill in the details to get started.
      </p>
    </div>
    {{ form }}
    <button type="submit" class="button-primary mt-2 w-full">Sign Up</button>
    <p class="mt-4 text-center text-sm">
      Already have an account?
      <a class="link-primary" href="{{ sign_in_url }}">Sign In</a>.
    </p>
  </form>
</div>
{% endblock content %}
