<div id="remove-link-{{ link.id }}-dialog" data-jswc-dialog-animation="true" class="dialog hidden">
  <div class="flex flex-col">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-bold">Are you sure?</h2>
    </div>
    <div class="mt-2 flex flex-col gap-4">
      <p>Are you sure you want to delete the "{{ link }}" link permanently?</p>
      <ul class="list-inside list-disc">
        <li>
          Link: <a class="link-primary" href="{% url 'link' link.shortened_path %}">{{ link }}</a>
        </li>
      </ul>
    </div>
    <div class="mt-4 flex w-full flex-wrap items-center gap-2">
      <a
        data-jswc-add-load
        class="button-destructive w-full sm:w-auto"
        href="{% url 'delete_link' link.shortened_path %}?current_path={{ request.path }}#{{ hash|default:'links-table' }}"
      >
        Yes, I’m sure
      </a>
      <button type="button" data-jswc-dialog-close class="button-outline w-full sm:w-auto">
        No, take me back
      </button>
    </div>
    <button
      type="button"
      data-jswc-dialog-close
      class="button-outline absolute top-4 right-4 rounded-xl border-0 p-2"
      aria-label="Close"
    >
      <i data-lucide="x" class="size-5"></i>
    </button>
  </div>
</div>
