<div id="update-link-{{ link.id }}-dialog" data-jswc-dialog-animation="true" class="dialog hidden">
  <form data-jswc-add-load class="flex flex-col" action="{% url 'update_link' link.shortened_path %}" method="post">
    {% csrf_token %}
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-bold">Update link "{{ link.shortened_path }}"</h2>
    </div>
    <div class="mt-2 flex flex-col gap-4">
      <p>Change the necessary data of your link and click save.</p>
    </div>
    <input name="current_path" type="hidden" value="{{ request.path }}#{{ hash|default:'links-table' }}" />
    <div class="mt-2 flex flex-col">
      {% if link.expires_at %}
      <p class="text-muted-foreground text-sm font-medium">
        {% if link.is_expired %}
        This link has expired!
        {% else %}
        This link will expire in {{ link.time_until_expiration_formatted }}!
        {% endif %}
      </p>
      {% endif %}
    </div>
    <div class="separator mt-2 mb-4"></div>
    <div class="mb-6 flex flex-col">
      <div class="mb-4 flex flex-col gap-2">
        <label class="label" for="update_destination_url">Destination URL</label>
        <input
          name="destination_url"
          id="update_destination_url"
          type="url"
          class="input"
          placeholder="https://www.google.com/"
          required
          value="{{ link.destination_url }}"
        />
      </div>
      <div class="mb-5 flex flex-col gap-2">
        <label class="label" for="update_shortened_path">
          Shortened URL <span class="text-muted-foreground text-sm font-medium">(Optional)</span>
        </label>
        <div class="flex items-center rounded-md border">
          <label class="flex h-10 items-center px-3 py-2" for="update_shortened_path">
            {{ LINK_BASE_URL }}
          </label>
          <input
            name="shortened_path"
            id="update_shortened_path"
            type="text"
            class="input rounded-l-none border-y-0 border-r-0"
            placeholder="my_link"
            value="{{ link.shortened_path }}"
          />
        </div>
      </div>
      <div class="mb-5 flex flex-col">
        <label class="label mb-2" for="update_expires_at">
          Expires At <span class="text-muted-foreground text-sm font-medium">(Optional)</span>
        </label>
        <input
          name="expires_at"
          id="update_expires_at"
          type="datetime-local"
          class="input"
          {% if link.expires_at %}
          value="{{ link.expires_at|date:"Y-m-d H:i" }}"
          {% endif %}
        />
      </div>
      <div class="flex items-center gap-3">
        <label class="label" for="update_is_active">Link is active:</label>
        <button
          id="update_is_active"
          type="button"
          data-jswc-switch
          data-name="is_active"
          class="switch-button"
          {% if link.is_active %}
          data-state="checked"
          {% endif %}
        ></button>
      </div>
    </div>
    <div class="mt-3 flex w-full flex-wrap items-center gap-2">
      <button type="submit" class="button-primary w-full sm:w-auto">
        Save
      </button>
      <button type="button" data-jswc-dialog-close class="button-outline w-full sm:w-auto">
        Cancel
      </button>
    </div>
    <button
      type="button"
      data-jswc-dialog-close
      class="button-outline absolute top-4 right-4 rounded-xl border-0 p-2"
      aria-label="Close"
    >
      <i data-lucide="x" class="size-5"></i>
    </button>
  </form>
</div>
