<div id="update-link-{{ link.id }}-dialog" class="hidden dialog" data-jswc-dialog-animation="true">
  <form method="post" action="{% url 'update_link' link.shortened_link %}" class="flex flex-col">
    {% csrf_token %}
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold">Update link "{{ link.shortened_link }}"</h2>
    </div>
    <div class="flex flex-col gap-4 mt-2">
      <p>Change the necessary data of your link and click save.</p>
    </div>
    <input type="hidden" name="current_path" value="{{ request.path }}#{{ hash|default:'links-table' }}" />
    <div class="flex flex-col mt-2">
      {% if link.expires_at %}
        <p class="font-medium text-sm text-muted-foreground">
          {% if link.is_expired %}
            This link has expired!
          {% else %}
            This link will expire in {{ link.time_until_expiration_formatted }}!
          {% endif %}
        </p>
      {% endif %}
    </div>
    <div class="separator mb-4 mt-2"></div>
    <div class="mb-6 flex flex-col">
      <div class="flex flex-col gap-2 mb-4">
        <label for="original_link" class="label">Destination URL</label>
        <input
          type="url"
          id="original_link"
          name="original_link"
          class="input"
          placeholder="https://www.google.com/"
          value="{{ link.original_link }}"
          required
        />
      </div>
      <div class="flex flex-col mb-5 gap-2">
        <label for="shortened_link" class="label">
          Shortened URL <span class="text-sm font-medium text-muted-foreground">(Optional)</span>
        </label>
        <div class="flex items-center border rounded-md">
          <label
            class="h-10 flex items-center px-3 py-2"
            for="shortened_link"
          >
            {{ LINK_BASE_URL }}
          </label>
          <input
            type="text"
            id="shortened_link"
            name="shortened_link"
            class="input border-0 rounded-l-none"
            placeholder="my_link"
            value="{{ link.shortened_link }}"
          />
        </div>
      </div>
      <div class="flex flex-col mb-5">
        <label for="expires_at" class="label mb-2">
          Expires At <span class="text-sm font-medium text-muted-foreground">(Optional)</span>
        </label>
        <input
          type="datetime-local"
          id="expires_at"
          name="expires_at"
          class="input"
          {% if link.expires_at %}value="{{ link.expires_at|date:"Y-m-d H:i" }}"{% endif %}
        />
      </div>
      <div class="flex gap-3 items-center">
        <label for="is_active" class="label">Link is active:</label>
        <button
          id="is_active"
          type="button"
          class="switch-button"
          data-jswc-switch
          data-name="is_active"
          {% if link.is_active %}data-state="checked"{% endif %}
        ></button>
      </div>
    </div>
    <div class="mt-3 w-full flex items-center gap-2 flex-wrap">
      <button type="submit" class="button-primary w-full sm:w-auto">
        Save
      </button>
      <button type="button" class="button-outline w-full sm:w-auto" data-jswc-dialog-close>
        Cancel
      </button>
    </div>
    <button
      type="button"
      class="absolute button-outline p-2 border-0 rounded-xl right-4 top-4"
      aria-label="Close"
      data-jswc-dialog-close
    >
      <i data-lucide="x" class="size-5"></i>
    </button>
  </form>
</div>
